#header{
  width: 100%;
  min-height: 13rem;
  background: url("/assets/img/head.jpg") repeat-x;
  background-position: center;
  background-size: auto 100%;

  mat-form-field{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    mat-select {
      background-color: #f5f5f571;
      line-height: 1.5rem;
      text-align: center;
    }
  }
}

