footer {
  background-color: #49BBED;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  .contacts_wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .footer_title {
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      color: #fff;
    }
    .footer_info {
      width: 80%;
      display: flex;
      text-align: center;
      justify-content: space-between;
      .rights {
        width: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        p {
          text-transform: uppercase;
        }
      }
      .footer_wrapper_icon{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .footer_icon {
          margin-right: 20px;
          background-size: cover;
          background-position: 50%;
          transition: all 0.5s ease-in-out;
          width: 40px;
          height: 40px;
          &:hover {
            transform: scale(1.25);
            transition: all 0.5s ease-in-out;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .footer_contacts{
        color: #fff;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          transition: all 0.5s ease-in-out;
          font-size: 0.9rem;
          &:hover {
              transform: scale(1.2);
              transition: all 0.5s ease-in-out;
            }
          a {
            text-decoration: none;
            color: black;
          }
        }

      }
    }
  }
}
@media (max-width:1200px) {
  .footer_info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    .rights, .footer_title, .footer_wrapper_icon, .footer_contacts {
      margin: 0.5rem;
      text-align: center;
    }
  }
}

