<footer>
  <div class="contacts_wrapper">
    <p class="footer_title">{{ 'footer.contacts' | translate}}</p>
    <div class="footer_info">
      <div class="rights">
        <p>© 2021 EXADEL</p>
        <p>{{ 'footer.copyrights' | translate}}</p>
      </div>
      <div class="footer_wrapper_icon">
        <a href="#" class="footer_icon" [ngStyle]="{backgroundImage: 'url(assets/icons/viber.svg)'}"></a>
        <a href="#" class="footer_icon" [ngStyle]="{backgroundImage: 'url(assets/icons/telegram.svg)'}"></a>
        <a href="#" class="footer_icon" [ngStyle]="{backgroundImage: 'url(assets/icons/insta.svg)'}"></a>
        <a href="#" class="footer_icon" [ngStyle]="{backgroundImage: 'url(assets/icons/linkedin.svg)'}"></a>
      </div>
      <div class="footer_contacts">
          <p>{{ 'footer.phone' | translate}}: <a href="#"> +375299535267 </a> </p>
          <p>{{ 'footer.web' | translate}}: <a href="https://www.exadel.com">www.exadel.com</a> </p>
          <p>{{ 'footer.email' | translate}}: <a title="google" href="mailto:exadel@gmail.com"> exadel@gmail.com</a></p>
      </div>
    </div>
  </div>
</footer>
