* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 100%;
  min-width: 300px;
  background-color: #e0e0e0;
}
.content {
  width: 700px;
  margin: 30px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-form {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
}
.form-control{
  align-self: stretch;
  max-width: 380px;
}
label {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 18px;
}
label.star::after{
  content: '*';
  color: red;
  margin: 0px 5px;
}
button {
  width: 103px;
  height: 36px;
  color: rgba(0,0,0,.26);
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}

