.wrapper{
  width: 100%;
  margin: 0 auto; 
  color: black;
  font-family: "roboto", sans-serif; 
  .training {
    width: 80%;
    margin: 0 auto;
    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px 0;
      font-size: 3rem;
      letter-spacing: 1.1rem;
      p {
        font-weight: bold;
        line-height: 3rem;
        text-transform: uppercase;
        color: #49BBED;
      }
    }
    .training_title {
      padding: 30px 0 40px;
      font-weight: bold;
      font-size: 3rem;
      text-transform: uppercase;
      text-align: center;
    }
    .training_container{
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 20px 0;
      .choose {
        width: 30%;
      }
      .training_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;    
        padding: 20px 0;    
        .training_course_container {
          width: 20rem;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          margin: 1rem;
          background-color: #c0c0c03d;
          box-shadow: 4px 4px 8px 8px #49bced7a;
          padding: 20px;
          .training_course_info {
            font-size: 1.3rem;
            text-align: center;
          }
          .training_course_img{
            width: 120px;
            margin: 0 auto;
          }
          .training_course_name{
            width: 90%;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            margin: 0.5rem auto;
          }
          .btn-training {
            margin-top: 2rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .locations{
    margin: 0 auto;
    padding: 20px 0 70px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .uni_title {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 25px;
      line-height: 2.1rem;
      color: #49BBED;
    }
    .loc-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 30px;
      .locations_bg {
        width: 300px;
        height: 200px;
        box-shadow: 0 0 13px #cccccc;
        border-color: rgba(55, 55, 55, 0.78);
      }
    }
  }
}

@media (max-width:1200px) {
  .locations_bg {
    margin: 1.5rem;
  }
  .footer_info {
    flex-direction: column;
    align-items: center;
    .rights, .footer_wrapper_icon, .footer_contacts {
      margin: 0.5rem;
    }
  }
}