.wrapper{
  width: 100%;
  margin: 0 auto;
  color: black;
  font-family: "roboto", sans-serif;
  .training {
    width: 80%;
    margin: 0 auto;
    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px 0;
      font-size: 2rem;
      letter-spacing: 1.1rem;
      p {
        font-weight: bold;
        line-height: 2rem;
        text-transform: uppercase;
        color: #49BBED;
      }
    }
    .training_title {
      padding: 20px 0 30px;
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
    }
    .error {
      background: url("../../assets/img/error.png") no-repeat;
      background-size: cover;
      background-position: center;
      height: 22rem;
      color: #49BBED;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font:bold 1.2rem "roboto", sans-serif;
      padding: 1rem;
    }
    .training_container{
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 20px 0;
      #filter-panel{
        width: 50%;
      }
      .training_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 0;
      }
    }
  }
  .locations{
    margin: 0 auto;
    padding: 20px 0 70px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .uni_title {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 25px;
      line-height: 2.1rem;
      color: #49BBED;
    }
    .loc-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 30px;
      .loc-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        text-transform: uppercase;
        .locations_bg {
          margin-top: 10px;
          width: 300px;
          height: 200px;
          box-shadow: 4px 4px 8px 8px #c9cacaa8;
        }
        .minsk {
          background: url("../../assets/img/минск.jpg") no-repeat;
          background-size: cover;
        }
        .kiev {
          background: url("../../assets/img/киев.jpg") no-repeat;
          background-size: cover;
        }
        .warsawa {
          background: url("../../assets/img/варшава.jpg") no-repeat;
          background-size: cover;
        }
      }
    }
  }
}

@media (max-width:1200px) {
  .locations_bg {
    margin: 1.5rem;
  }
  .footer_info {
    flex-direction: column;
    align-items: center;
    .rights, .footer_wrapper_icon, .footer_contacts {
      margin: 0.5rem;
    }
  }
}
