<div class="wrapper">
  <ia-header>
  </ia-header>
  <main class="training">
    <div class="head">
      <p>{{ 'homepage.p1' | translate}}</p>
      <p>{{ 'homepage.p2' | translate}}</p>
    </div>
    <div class="training_title">{{ 'homepage.training' | translate}}</div>
    <div class="training_container">
      <mat-form-field class="choose" appearance="fill">
        <mat-label>{{ 'homepage.choose' | translate}}</mat-label>
        <mat-select matNativeControl>
          <mat-option value="volvo">Course 1</mat-option>
          <mat-option value="saab">Course 2</mat-option>
          <mat-option value="mercedes">Course 3</mat-option>
          <mat-option value="audi">Course 4</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="training_wrapper">
        <ia-training *ngFor="let training of trainings" [training]="training"></ia-training>
      </div>
    </div>
  </main>

  <section class="locations">
        <p class="uni_title">{{ 'homepage.locations' | translate}}</p>
        <div class="loc-content">
          <div class="loc-group">
            <p class="place">Minsk</p>
            <div class="locations_bg minsk"></div>
          </div>
          <div class="loc-group">
            <p class="place">Kiev</p>
            <div class="locations_bg kiev"></div>
          </div>
          <div class="loc-group">
            <p class="place">Warsawa</p>
            <div class="locations_bg warsawa"></div>
          </div>
        </div>
  </section>
  <ia-footer>
  </ia-footer>
</div>
