<div class="wrapper">
  <main class="training">
    <div class="head">
      <p>{{ 'homepage.p1' | translate}}</p>
      <p>{{ 'homepage.p2' | translate}}</p>
    </div>
    <div class="training_title">{{ 'homepage.training' | translate}}</div>
    <div *ngIf = '!error; else Error' class="training_container">
      <ia-filter *ngIf = '!error'
        id="filter-panel"
        [trainings]="trainings"
        (onFilterTrainings)="updateTrainings($event)"
      >
      </ia-filter>
      <div class="training_wrapper">
        <ia-training
          *ngFor="let training of filteredTrainings"
          [training]="training"
        >
        </ia-training>
      </div>
    </div>
    <ng-template #Error>
      <div class="error">{{errorMessage}}</div>
    </ng-template>
  </main>

  <section class="locations">
        <p class="uni_title">{{ 'homepage.locations' | translate}}</p>
        <div class="loc-content">
          <div class="loc-group">
            <p class="place">Minsk</p>
            <div class="locations_bg minsk"></div>
          </div>
          <div class="loc-group">
            <p class="place">Kiev</p>
            <div class="locations_bg kiev"></div>
          </div>
          <div class="loc-group">
            <p class="place">Warsawa</p>
            <div class="locations_bg warsawa"></div>
          </div>
        </div>
  </section>
</div>
