<div class="wrapper">
  <ia-header>
  </ia-header>
  <main class="training">
    <div class="head">
      <p>{{ 'homepage.p1' | translate}}</p>
      <p>{{ 'homepage.p2' | translate}}</p>
    </div>
    <div class="training_title">{{ 'homepage.training' | translate}}</div>
    <div class="training_container">
      <mat-form-field class="choose" appearance="fill">
        <mat-label>{{ 'homepage.choose' | translate}}</mat-label>
        <mat-select matNativeControl multiple>
          <mat-optgroup label="Country">
            <mat-option (onSelectionChange)="filtersState[1].ukraine = !filtersState[1].ukraine" (click)="triggerFilters()" value="ukraine">Ukraine</mat-option>
            <mat-option (onSelectionChange)="filtersState[1].belarus = !filtersState[1].belarus" (click)="triggerFilters()" value="belarus">Belarus</mat-option>
            <mat-option (onSelectionChange)="filtersState[1].russia = !filtersState[1].russia" (click)="triggerFilters()" value="russia">Russia</mat-option>
          </mat-optgroup>
          <mat-optgroup label="City">
            <mat-option (onSelectionChange)="filtersState[2].minsk = !filtersState[2].minsk" (click)="triggerFilters()" value="minsk">Minsk</mat-option>
            <mat-option (onSelectionChange)="filtersState[2].gomel = !filtersState[2].gomel" (click)="triggerFilters()" value="gomel">Gomel</mat-option>
            <mat-option (onSelectionChange)="filtersState[2].kiev = !filtersState[2].kiev" (click)="triggerFilters()" value="kiev">Kiev</mat-option>
            <mat-option (onSelectionChange)="filtersState[2].brest = !filtersState[2].brest" (click)="triggerFilters()" value="brest">Brest</mat-option>
            <mat-option (onSelectionChange)="filtersState[2].chernigov = !filtersState[2].chernigov" (click)="triggerFilters()" value="chernigov">Chernigov</mat-option>
            <mat-option (onSelectionChange)="filtersState[2].harkov = !filtersState[2].harkov" (click)="triggerFilters()" value="harkov">Harkov</mat-option>
            <mat-option (onSelectionChange)="filtersState[2].moscow = !filtersState[2].moscow" (click)="triggerFilters()" value="moskow">Moskow</mat-option>
          </mat-optgroup>
          <mat-optgroup label="Technology">
            <mat-option (onSelectionChange)="filtersState[0].css = !filtersState[0].css" (click)="triggerFilters()" value="css">CSS</mat-option>
            <mat-option (onSelectionChange)="filtersState[0].html = !filtersState[0].html" (click)="triggerFilters()" value="html">HTML</mat-option>
            <mat-option (onSelectionChange)="filtersState[0].javascript = !filtersState[0].javascript" (click)="triggerFilters()" value="javascript">JavaScript</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <div class="training_wrapper">
        <ia-training *ngFor="let training of filtered || trainings" [training]="training"></ia-training>
      </div>
    </div>
  </main>

  <section class="locations">
        <p class="uni_title">{{ 'homepage.locations' | translate}}</p>
        <div class="loc-content">
          <div class="loc-group">
            <p class="place">Minsk</p>
            <div class="locations_bg minsk"></div>
          </div>
          <div class="loc-group">
            <p class="place">Kiev</p>
            <div class="locations_bg kiev"></div>
          </div>
          <div class="loc-group">
            <p class="place">Warsawa</p>
            <div class="locations_bg warsawa"></div>
          </div>
        </div>
  </section>
  <ia-footer>
  </ia-footer>
</div>
