<div *ngIf = '!error; else Error' class="training_container">
  <ia-table [selectedCandidateID]="selectedCandidateID" [candidates]="candidates" (onSelectedCandidate)="updateSelectedCandidate($event)">
    <ng-template>
      <ng-container *ngIf="userInfo.userRole === 'SUPER_ADMIN'">
        <div class="control-button">
          <button
            mat-raised-button
            (click)="updateStatus(selectedCandidate.id , 'CANDIDATE_REFUSED')"
          >{{"admins.candidateRefused" | translate}}</button>
          <button
            mat-raised-button
            class="Red"
            (click)="updateStatus(selectedCandidate.id , 'REJECTED')"
          >{{"admins.decline" | translate}}</button>
          <button mat-raised-button
                  class="Yellow"
                  (click)="updateStatus(selectedCandidate.id , 'NOT_MATCHED')"
          >{{"admins.waiting" | translate}}</button>
          <button mat-raised-button
                  class="Green"
                  (click)="updateStatus(selectedCandidate.id , 'ACCEPTED')"
          >{{"admins.approve" | translate}}</button>
        </div>
      </ng-container>
      <ng-container *ngIf="userInfo.userRole === 'ADMIN'">
        <div class="control-button">
          <button mat-raised-button class="Red" (click)="updateStatus(selectedCandidate.id , 'REJECTED')">Decline intern</button>
          <button mat-raised-button (click)="updateStatus(selectedCandidate.id , 'CANDIDATE_REFUSED')">Candidate Refused</button>
        </div>
      </ng-container>
      <div>
        <p>Schedule an interview with:</p>
        <ng-container *ngIf="techExperts.length === 0">
          <p>no technical experts</p>
        </ng-container>
        <ng-container *ngIf="admins.length === 0">
          <p>no admins</p>
        </ng-container>
        <button
          mat-raised-button
          [disabled]="admins.length === 0"
          (click)="openInterviewDialog(admins, 'ADMIN')"
        >
          HR
        </button>
        <button
          mat-raised-button
          [disabled]="techExperts.length === 0"
          (click)="openInterviewDialog(techExperts, 'TECH_EXPERT')"
        >
          technical expert
        </button>
      </div>
    </ng-template>
  </ia-table>
</div>
<ng-template #Error>
  <div class="error">Something went wrong, please try refreshing the page</div>
</ng-template>
