<div class="training_course_container">
  <div class="training_course_info">{{training.city}} | {{training.city}} | {{training.form}}</div>
  <img [src]="training.img" alt="" class="training_course_img"/>
  <div class="training_course_technology">Technology: {{training.technology}}</div>
  <div class="training_course_name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos?</div>
  <div class="training_course_dateRegistration">{{training.date}}</div>
  <button routerLink="/trainingdescription/{{training.id}}" mat-raised-button color="primary" class="btn-training">{{ 'training.showMore' | translate}}</button>
</div>
