.training_container {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  .filter{
    width: 65%;
  }
  .internship_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .internship{
      margin: 20px;
    }
  }
}
