<div *ngIf="!error; else Error" class="training_container">
  <ia-filter-internships
    class="filter"
    [internships]="internships"
    (filterInternships)="updateInternships($event)"
  >
  </ia-filter-internships>
  <div class="internship_wrapper">
    <ia-internship
      *ngFor="let internship of filteredInternships"
      [internship]="internship"
      class="internship"
      (deletingInternship)="removeInternship($event)"
    >
    </ia-internship>
  </div>
</div>
<ng-template #Error>
  <div class="error">Something went wrong, please try refreshing the page</div>
</ng-template>
