<div class="container">
  <div class="content">
    <h1>{{ "loginpage.h1" | translate }}</h1>

    <form class="reg-form" [formGroup]="form">
      <mat-form-field appearance="outline" class="form-control">
        <mat-label>{{ "loginpage.fieldlogin" | translate }}</mat-label>
        <input
          matInput
          placeholder="{{ 'loginpage.login' | translate }}"
          formControlName="loginEmail"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-control">
        <mat-label>{{ "loginpage.fieldpassword" | translate }}</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="loginPassword"
          placeholder="{{ 'loginpage.password' | translate }}"
          (keydown.enter)="loginAuth()"
        />
        <button
          mat-icon-button
          matSuffix
          (focus)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="" example-button-row>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          (click)="loginAuth()"
        >
          {{ "loginpage.submit" | translate }}
        </button>
      </div>
    </form>
  </div>
  <p *ngIf="errorLogin" class="error">{{ errorLogin }}</p>
</div>
