:host {
  .container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #e0e0e0;
    padding: 20px;
    & p.error {
      color:red;
      text-align: center;
    }
    .content{
      h1 {
        margin: 3rem;
      }
      width: 55%;
      margin: 0 auto;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .reg-form{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        .form-control{
          width: 80%;
          label {
            display: inline-block;
            margin-bottom: 15px;
            font-size: 18px;
          }
          label.necessary::after{
            content: '*';
            color: red;
            margin: 0px 5px;
          }
        }
      }
    }
  }
}
button[mat-raised-button] {
  margin: 2rem;
}
