:host {
  .container {
    height: 70vh;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 20px;
    & p.error {
      color:red;
      text-align: center;
      margin-top: 10px;
    }
    .content{
      h1 {
        margin: 3rem;
      }
      width: 50%;
      margin: 0 auto;
      padding: 15px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .reg-form{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .form-control{
          width: 80%;
          label {
            display: inline-block;
            margin-bottom: 15px;
            font-size: 18px;
          }
          label.necessary::after{
            content: '*';
            color: red;
            margin: 0px 5px;
          }
          
        }
      }
    }
  }
}
button[mat-raised-button] {
  margin: 2rem;
}


@media (max-width: 680px) {
  :host {
    .container {
    padding: 10px;
      .content{
        width: 80%;
        padding: 10px;
        h1 {
          margin: 1rem;
        }
      }
    }
  } 
  button[mat-raised-button] {
    margin: 1rem;
  }
}