.container {
  max-width: 100%;
  margin: 0 auto;
  color: black;
  font-family: "roboto", sans-serif;
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    .for-img {
      display: flex;
      img {
        width: 150px;
        height: 150px;
        margin: 0 20px 30px 0;
        transition: all 0.5s ease-in-out;
        &:hover {
          transform: scale(1.2);
          transition: all 0.5s ease-in-out;
        }
      }
    }
    h1,
    h3 {
      font-weight: bold;
      letter-spacing: 1.2rem;
      background-color: rgba(255, 255, 255, 0.541);
    }
    h1 {
      width: 60%;
      font-size: 2.2rem;
      text-align: center;
    }
    h3 {
      font-size: 1.4rem;
    }
  }
  .content {
    max-width: 1320px;
    margin: 0 auto;
    .info {
      padding: 0 0 10px 0;
      h2 {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        color: #49bbed;
      }
      .about-training {
        margin: 0 auto;
        width: 70%;
        h3,
        ul {
          font-weight: bold;
          color: #49bbed;
          p,
          ul {
            font-size: 1rem;
            font-weight: normal;
            color: black;
          }
        }
      }
      .conditions {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        font-size: 1.4rem;
        h3 {
          color: #49bbed;
          font-weight: bold;
          padding: 10px 0;
        }
        .info-internship {
          font-size: 1rem;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .right-box,
          .left-box {
            width: 40%;
            margin-right: 20px;
          }
          .condition {
            margin-bottom: 10px;
            letter-spacing: 2px;
          }
        }
      }
    }
    .btn-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 30px 0 40px 0;
      .reg-btn {
        width: 20rem;
        height: 6rem;
        font-size: 1.5rem;
        &:hover {
          cursor: pointer;
          color: rgba(255, 255, 255, 0.486);
          box-shadow: -7px -9px 12px 7px rgba(34, 60, 80, 0.2);
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .container {
    header {
      background-position: center;
    }
    .content {
      .btn-container {
        .reg-btn,
        .main-btn {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .container {
    .content {
      .head {
        padding: 10px 0;
        .for-img {
          img {
            width: 100px;
            height: 100px;
            margin: 0 10px 15px 0;
          }
        }
        h1 {
          width: 70%;
          font-size: 1.2rem;
          letter-spacing: 1rem;
          margin: 0;
        }
        h3 {
          font-size: 1.2rem;
          letter-spacing: 0;
        }
      }
      .btn-container {
        margin: 10px;
        .reg-btn {
          width: 10rem;
          height: 3rem;
          font-size: 1rem;
        }
      }
    }
  }
}
