<div class="container">
  <ia-header></ia-header>
  <header>
    <!--<img src="assets/img/logo.png">-->
    <div class="search">
    </div>
    <button mat-raised-button color="primary">Log Out</button>
  </header>
  <ia-table [candidates]="candidates" (onSelectedCandidate)="updateSelectedCandidate($event)">
    <ng-template>
      <div class="table-container">
        <div class="forcontrol">
          <div class="reccont">
            <mat-form-field appearance="fill">
              <mat-label>Select recruiter</mat-label>
              <mat-select [(ngModel)]="selectedRecruiter" name="recruiter">
                <mat-option *ngFor="let el of recruitersList" [value]="el">
                  {{el}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p> Selected recruiter: {{selectedRecruiter}}</p>
          </div>
          <div class="speccont">
            <mat-form-field appearance="fill">
              <mat-label>Select technical specialist</mat-label>
              <mat-select [(ngModel)]="selectedTechspecialist" name="techspecialist">
                <mat-option *ngFor="let el of test" [value]="el.techspecialist">
                  {{el.techspecialist}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p> Selected technical specialis: {{selectedTechspecialist}}</p>
          </div>
        </div>
        <button mat-raised-button class="Red">Decline intern</button>
        <button mat-raised-button class="Yellow">Add to waiting list</button>
        <button mat-raised-button class="Green" (click)="approve()">Approve intert</button>
      </div>
    </ng-template>
  </ia-table>
  <ia-footer></ia-footer>
</div>
