.training_course_container {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: #c0c0c03d;
  box-shadow: 4px 4px 8px 8px #49bced7a;
  padding: 20px;
  .training_course_info {
    font-size: 1rem;
    text-align: center;
  }
  .training_course_img{
    width: 120px;
    margin: 0 auto;
  }
  .training_course_name{
    width: 90%;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0.5rem auto;
  }
  .btn-training {
    margin-top: 2rem;
    text-transform: uppercase;
  }
}
