.training_course_container {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: #c0c0c03d;
  box-shadow: 4px 4px 8px 8px #49bced7a;
  padding: 20px;
  .training_course_info {
    font-size: 1rem;
    text-align: center;
  }
  .forImages {
    display: flex;
    margin: 10px auto 0;
    .training_course_img {
      width: 55px;
      height: 55px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .training_course_name {
    width: 90%;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0.5rem auto;
    text-transform: uppercase;
  }
  .btn-training {
    margin-top: 2rem;
    text-transform: uppercase;
  }
}

@media (max-width: 500px) {
  .training_course_container {
    width: 15rem;
    min-height: 13rem;
  }
}
