.mat-toolbar {
  height: auto;
  position: relative;
  display: flex;
  padding: 5px 0;
  .userName {
    position: absolute;
    right: 10px;
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .mat-toolbar {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .userName {
      position: static;
    }
  }
}
