<mat-toolbar class="mat-toolbar">
  <ng-container *ngIf="userInfo.userRole === 'SUPER_ADMIN' || userInfo.userRole === 'ADMIN'">
    <button mat-button routerLink="/adminpage/internships">{{"adminpage.internship" | translate}}</button>
    <button mat-button routerLink="/adminpage/internshipform" *ngIf="userInfo.userRole === 'SUPER_ADMIN'">{{"adminpage.createInternship" | translate}}</button>
  </ng-container>
  <button id="log-out-button" mat-button routerLink="/loginpage" (click)="auth.logOut()">{{"adminpage.logOut" | translate}}</button>
</mat-toolbar>
<router-outlet></router-outlet>
