.internship {
  width: 13rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 4px 4px 8px 8px #c9cacaa8;
  transition: 0.5s ease-in-out;
  position: relative;
  &:hover {
    box-shadow: 4px 4px 8px 8px #49bced8e;
    transition: 0.5s ease-in-out;
  }
  .internship__name {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.1rem;
    text-transform: uppercase;
    color: #49bbed;
  }

  button {
    transition: 0.5s ease-in-out;
    margin: 0.25rem;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s ease-in-out;
      margin: 0.25rem;
    }
  }
}
.example-button-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  display: inline-block;
  text-align: center;
  max-width: 6rem;
  white-space: normal;
  padding: 0;
  line-height: 1.5rem;
}
