<div class="internship">
  <div class="internship__name">{{internship.name}}</div>
  <div>{{internship.startDate}}</div>
  <div>{{internship.internshipFormat}}</div>
  <div>{{internship.skills | json}}</div>
  <div class="example-button-container">
    <button mat-flat-button color="primary" routerLink="/adminpage/admins/{{internship.id}}">
      {{"adminpage.showCandidates" | translate}}
    </button>
      <button mat-mini-fab color="warn" >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    </div>

