* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  background-color: #e0e0e0;
  padding: 30px;
}
.content {
  width: 55%;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-form {
  width: 90%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
}
.form-control{
  align-self: stretch;
  max-width: 80%;
  textarea {
    overflow: hidden;
  }
}
.assigned-users{
  margin-top: 20px;
  .list{
    max-height: 200px;
    overflow-y: auto;
    padding-left: 15px;
    margin: 10px;
    div{
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      span{
        padding-left: 10px;
      }
    }
    mat-divider{
      padding-bottom: 5px;
    }
  }
  ::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:5px;
    height:0px
  }

  ::-webkit-scrollbar-track {
    background-color:#ecedee
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 2px;
    background-color:#49BBED;
  }

  ::-webkit-scrollbar-thumb:hover{
    background-color: #384b52;
  }

  ::-webkit-resizer{
    background-repeat:no-repeat;
    width:4px;
    height:0px
  }

  ::-webkit-scrollbar{
    width: 4px;
  }
}

.location-list-wrapper{
  margin-left: 20px;
}
label {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 18px;
}
label.star::after{
  content: '*';
  color: red;
  margin: 0px 5px;
}
button{
  padding: 0 15px;
}
.button-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.publication-date {
  margin-top: 10px;
}

mat-option {
  padding-left: 20px;
}
@media (max-width: 1200px) {
  .content {
    width: 70%;
  }
}

