* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  background-color: #e0e0e0;
  padding: 30px;
}
.content {
  width: 55%;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-form {
  width: 90%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
}
.form-control{
  align-self: stretch;
  max-width: 80%;
}
.location-list-wrapper{
  margin-left: 20px;
}
label {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 18px;
}
label.star::after{
  content: '*';
  color: red;
  margin: 0px 5px;
}
button {
  width: 103px;
  height: 36px;
  color: rgba(0,0,0,.26);
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
.publication-date {
  margin-top: 10px;
}

mat-option {
  padding-left: 20px;
}
@media (max-width: 1200px) {
  .content {
    width: 70%;
  }
}

