.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  table {
    width: 100%;
    &:hover {
      cursor: pointer;
    }
    th {
      font-size: 1rem;
      text-align: center;
    }
    td {
      font-size: 0.85rem;
      margin: 0 auto;
      padding: 0 5px;
    }

    tr.example-detail-row {
      height: 0;
    }

    tr.rows-element:not(.example-expanded-row):hover {
      background: whitesmoke;
    }

    tr.rows-element:not(.example-expanded-row):active {
      background: #efefef;
    }

    .rows-element td {
      border-bottom-width: 0;
    }

    .example-element-detail {
      overflow: hidden;
    }

    .example-element-diagram {
      min-width: 80px;
      border: 2px solid black;
      padding: 8px;
      font-weight: lighter;
      margin: 8px 0;
      height: 104px;
    }

    .example-element-symbol {
      font-weight: bold;
      font-size: 40px;
      line-height: normal;
    }

    .example-element-description {
      width: 100%;
      padding: 16px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 900px) {
  .container {
    overflow: scroll;
    table {
      width: 50%;
    }
  }
}
