<div class="container">
  <mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"adminTable.fullname" | translate}}</th>
      <td class="rows-element" mat-cell *matCellDef="let element">
        {{
        element.lastName + ' '
        + element.firstName[0]+'. '
        + (element.middleName ? element.middleName[0] + '.' : '')
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"adminTable.phoneNumber" | translate}}</th>
      <td class="rows-element" mat-cell *matCellDef="let element">
        {{element.phoneNumber}}
      </td>
    </ng-container>
    <ng-container matColumnDef="skype">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Skype</th>
      <td class="rows-element" mat-cell *matCellDef="let element">
        {{element.skype}}
      </td>
    </ng-container>
    <ng-container matColumnDef="englishLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"adminTable.englishLevel" | translate}}</th>
      <td class="rows-element" mat-cell *matCellDef="let element">
        {{element.englishLevel}}
      </td>
    </ng-container>
    <ng-container matColumnDef="formStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"adminTable.status" | translate}}</th>
      <td class="rows-element" mat-cell *matCellDef="let element">
        {{element.formStatus}}
      </td>
    </ng-container>
    <ng-container matColumnDef="admin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"adminTable.recruiter" | translate}}</th>
      <td class="rows-element" mat-cell *matCellDef="let element">
        {{element.interview?.admin?.lastName}}
        {{element.interview?.admin?.firstName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="techSpecialist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"adminTable.techSpec" | translate}}</th>
      <td class="rows-element" mat-cell *matCellDef="let element">
        {{element.interview?.techSpecialist?.lastName}}
        {{element.interview?.techSpecialist?.firstName}}
      </td>
    </ng-container>
    <ng-container matColumnDef="primarySkill">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"adminTable.skill" | translate}}</th>
      <td class="rows-element" mat-cell *matCellDef="let element">
        {{element.primarySkill}}
      </td>
    </ng-container>
    <ng-container matColumnDef="feedback">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"adminTable.feedback" | translate}}</th>
      <td class="rows-element" mat-cell *matCellDef="let element">
        <button
          *ngIf="user.userRole==='ADMIN' || user.userRole==='SUPER_ADMIN'"
          mat-stroked-button
          (click)="openFeedBackDialog(user.id, element.id)"
          [disabled]="!!element.interview.adminFeedback || element.formStatus !== 'ADMIN_INTERVIEW_ASSIGNED'"
        >{{"adminTable.addFeedback" | translate}}</button>
        <button
          *ngIf="user.userRole==='TECH_EXPERT'"
          mat-stroked-button
          (click)="openFeedBackDialog(user.id, element.id)"
          [disabled]="!!element.interview.techFeedback || element.formStatus !== 'TECH_INTERVIEW_ASSIGNED'"
        >{{"adminTable.addFeedback" | translate}}</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div
          class="example-element-detail"

          [@detailExpand]="element.id === selectedCandidateID ? 'expanded' : 'collapsed'"
        >
          <div class="example-element-description">
           <div class="main-info">
              <p>{{"adminTable.name" | translate}}: {{element.firstName}}</p>
              <p>{{"adminTable.lastname" | translate}}: {{element.lastName}}</p>
              <p>Email: {{element.email}}</p>
              <p>{{"adminTable.country" | translate}}: {{element.country.name}}</p>
              <p>{{"adminTable.city" | translate}}: {{element.city.name}}</p>
              <p *ngIf="element.primarySkill">{{"adminTable.skill" | translate}}: {{element.primarySkill}}</p>
              <p class="experience" *ngIf="element.experience">{{"adminTable.experience" | translate}}: {{element.experience}}</p>
            </div>
            <div class="feedbacks">
              <div class="feedback" *ngIf="element.interview?.adminFeedback">
                <h4>Recruiter's feedback</h4>
                {{element.interview?.adminFeedback}}
              </div>
              <div class="feedback" *ngIf="element.interview?.techFeedback">
                <p>Technical specialists's feedback</p>
                {{element.interview?.techFeedback}}
              </div>
            </div>
            
          </div>
          <ng-template class="control-panel" [ngTemplateOutlet]="template" ></ng-template>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="rows-element"
        [class.rows-element]="selectedCandidate === element"
        (click)="
          selectedCandidate = selectedCandidate === element ? null : element;
          onSelectedCandidate.emit(selectedCandidate);
        "
    >
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
