.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  table {
    // min-height: 500px;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
    th {
      font-size: 1.0rem;
      color: black;
      font-weight: bold;
      background: lavender;
      text-align: center;
    }
    td {
      font-size: 0.85rem;
      margin: 0 auto;
      text-align: center;
    }
    tr.example-detail-row {
      height: 0;
    }

    tr:hover, tr.rows-element:not(.example-expanded-row):hover {
      background: whitesmoke;
      font-weight: 500;
      }
    td.mat-cell:last-of-type:hover {
      background: whitesmoke;
      color: indigo;
      font-weight: 400;
    }
    .rows-element td {
      border-bottom-width: 0;
    }

    .example-element-detail {
      overflow: hidden;
    }

    .example-element-diagram {
      min-width: 80px;
      border: 2px solid black;
      padding: 8px;
      font-weight: lighter;
      margin: 8px 0;
      height: 104px;
    }

    .example-element-symbol {
      font-weight: bold;
      font-size: 40px;
      line-height: normal;
    }

    .example-element-description {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 95%;
      padding: 1rem;
      font-size: 1rem;
      & p {
        display: inline;
        margin: 0.5rem;
        font-size: 0.85rem;
      }
    }
  }
}
