.spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.651);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
