.container {
  max-width: 1200px;
  margin: 0 auto; 
  color: rgba(0,63,161,255);
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0; 
  }
  header {
    background: url("../../assets/img/Exadel_traindescr.jpg") no-repeat;
    min-height: 350px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 150px;
      height: 150px;
      margin-bottom: 30px;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.2);
        transition: all 0.5s ease-in-out;
      }
    }
    h4, h3 {
      font-weight: bold;
    }
  }
  .info {
    padding: 30px 0;
    h2 {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
    .about-training {
      margin: 0 auto;
      width: 80%;
      h4 {
        padding: 10px 0;
        font-weight: bold;
        p {
          font-weight: normal;
          padding: 10px 0;
          letter-spacing: 2px;
        }
      }
    }
    .conditions {
      margin: 0 auto;
      width: 80%;
      text-align: center;
      h4 {
        p{
          padding: 5px 0 20px 0;
          font-weight: normal;
        }
      }
      .info-internship {
        display: flex;
        flex-wrap: wrap;
        .right-box, .left-box {
          width: 40%;
          margin-right: 10px;
        }
        .condition {
          margin-bottom: 10px;
          letter-spacing: 2px;
        }
      }
    }
  }
  .reg-btn {
    width: 100%;
    height: 100px;
    background-color: rgba(0,63,161,255);
    border: 1px solid #fff;
    outline: none;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.486);
      box-shadow:-7px -9px 12px 7px rgba(34, 60, 80, 0.2);
    }  
  }

}

@media (max-width:720px) {
  .container {
    header {
      background-position: center;
    }
  }
 
}