<div class="container">
  <div class="content">
    <div class="head">
      <img src="../../assets/img/Exadel_traindescr.svg">
      <h1>FRONTEND</h1>
      <h3>INTERNSHIP</h3>
    </div>
    <div class="info">
      <h2 class="title">
        {{ 'trainingdescription.title' | translate}}
      </h2>
      <div class="about-training">
        <H3>{{ 'trainingdescription.abouttraining' | translate}}:
          <p>{{internship.description}}</p>
        </H3>
        <h3>{{ 'trainingdescription.mentoring' | translate}}
          <p> {{ 'trainingdescription.mentoring-text' | translate}} </p>
        </h3>
        <h3>{{ 'trainingdescription.workexadel' | translate}}
          <p> {{ 'trainingdescription.aboutwork' | translate}}</p>
          <ul>
            <li> {{ 'trainingdescription.ourconditions' | translate}}</li>
            <Li> {{ 'trainingdescription.development' | translate}}</Li>
            <Li>{{ 'trainingdescription.sport' | translate}}</Li>
            <Li>{{ 'trainingdescription.lesson' | translate}}</Li>
            <Li>{{ 'trainingdescription.world' | translate}}</Li>
            <Li>{{ 'trainingdescription.goods' | translate}}</Li>
          </ul>
        </h3>
        <h3>{{ 'trainingdescription.howstart' | translate}}
          <p>{{internship.requirements}}</p>
        </h3>
        <h3>{{ 'trainingdescription.skills' | translate}}
          <p>{{internship.techSkills}}</p>
        </h3>
        <h3>{{ 'trainingdescription.toget' | translate}}
          <ul>
            <li> {{ 'trainingdescription.resume' | translate}}</li>
            <Li> {{ 'trainingdescription.reqinterview' | translate}}</Li>
            <Li>{{ 'trainingdescription.tech' | translate}}</Li>
            <Li>{{ 'trainingdescription.learn' | translate}}</Li>
          </ul>
        </h3>
    </div>
    <div class="conditions">
      <h3>{{ 'trainingdescription.conditions' | translate}}</h3>
      <div class="info-internship">
        <div class="right-box">
          <div class="condition">{{ 'trainingdescription.starttime' | translate}}:{{internship.startDate}}</div>
          <div class="condition">{{ 'trainingdescription.location' | translate}}:{{internship.countryList}}</div>
          <div class="condition">{{ 'trainingdescription.duration' | translate}}: </div>
        </div>
        <div class="left-box">
          <div class="condition">{{ 'trainingdescription.endtime' | translate}}:{{internship.endDate}}</div>
          <div class="condition">{{ 'trainingdescription.formattraining' | translate}}:{{internship.internshipFormat}}</div>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button class="reg-btn" routerLink="/regform/{{internship.id}}" mat-raised-button color="primary">{{ 'trainingdescription.register' | translate}}</button>
      <button class="main-btn" routerLink="" mat-raised-button color="primary">{{ 'trainingdescription.mainpagelink' | translate}}</button>
    </div>
  </div>
</div>
</div>
