.container {
  max-width: 100%;
  margin: 0 auto; 
  color: black;
  font-family: "roboto", sans-serif; 
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    img {
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.2);
        transition: all 0.5s ease-in-out;
      }
    }
    h1, h3 {
      font-weight: bold;
      letter-spacing: 1.3rem;
      background-color: rgba(255, 255, 255, 0.541);
    }
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.7rem;
    }
  }
  .content {
    max-width: 1320px;
    margin: 0 auto;
    .info {
      padding: 0 0 30px 0;
      h2 {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: #49BBED;
      }
      .about-training {
        margin: 0 auto;
        width: 80%;
        h3 {
          padding: 10px 0;
          font-weight: bold;
          color: #49BBED;
          p {
            font-size: 20px;
            font-weight: normal;
            padding: 10px 0;
            letter-spacing: 2px;
            color: black;
          }
        }
      }
      .conditions {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        font-size: 20px;
        h3 {
          color: #49BBED;
          p{
            padding: 5px 0 20px 0;
            font-weight: normal;
            color: black;

          }
        }
        .info-internship {
          display: flex;
          flex-wrap: wrap;
          .right-box, .left-box {
            width: 45%;
            margin-right: 20px;
          }
          .condition {
            margin-bottom: 10px;
            letter-spacing: 2px;
          }
        }
      }
    }
    .btn-container {
      display: flex;
      justify-content: center;
      margin: 20px 0; 
      .reg-btn {
        width: 50%;
        height: 6rem;
        font-size: 1.5rem;
        &:hover {
          cursor: pointer;
          color: rgba(255, 255, 255, 0.486);
          box-shadow:-7px -9px 12px 7px rgba(34, 60, 80, 0.2);
        }  
      }
    }
  }
}

@media (max-width:720px) {
  .container {
    header {
      background-position: center;
    }
  }
 
}