:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #e0e0e0;
  max-width: 100%;
}

#header{
  width: 100%;
  height: 220px;
  background-image: url("../../assets/regform/head.jpg");
  background-repeat: repeat-x;
  background-position: center;
  background-size: auto 100%;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  min-width: 300px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  margin-top: 30px;
  padding: 30px;
}

.reg-form{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-control label {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 18px;
}

.form-control .necessary::after{
  content: '*';
  color: red;
  margin: 0px 5px;
}

.radio-group{
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.radio-button{
  margin: 5px 0;
}

.selector-time{
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.selector-time-item{
  width: 80px;
}

.input-wrapper{
  position: relative;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: rgba(0,0,0,.12);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#select-file-button{
  display: inline-block;
  position: absolute;
  transform: translate(-5px, 0);
  opacity: 0%;
}

#submit-button{
  margin-top: 20px;
}
