<div class="container">
  <ia-header>

  </ia-header>
  <div class="content">
    <h1>{{ 'Regform.H1' | translate}}</h1>
    <p style="text-indent: 20px">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Aperiam beatae doloremque dolorum magnam modi praesentium quas quo sed temporibus voluptatum.
    </p>
    <form class="reg-form" [formGroup]="form">
      <mat-form-field appearance="standard" class="form-control">
        <label class="necessary">{{ 'Regform.name' | translate}}</label>
        <input matInput formControlName="userName" type="text" placeholder="{{ 'Regform.name' | translate}}">
      </mat-form-field>

      <mat-form-field appearance="standard" class="form-control">
        <label class="necessary">{{ 'Regform.surname' | translate}}</label>
        <input matInput formControlName="userLastName" type="text" placeholder="{{ 'Regform.surname' | translate}}">
      </mat-form-field>

      <mat-form-field appearance="standard" class="form-control">
        <label>{{ 'Regform.patronymic' | translate}}</label>
        <input matInput formControlName="userPatronymic" type="text" placeholder="{{ 'Regform.patronymic' | translate}}">
      </mat-form-field>

      <mat-form-field appearance="standard" class="form-control">
        <label class="necessary">Email</label>
        <input matInput formControlName="userEmail" type="email" placeholder="{{ 'Regform.email' | translate}} Email">
        <mat-error *ngIf="form.get('userEmail')?.hasError('email')">
          {{ 'Regform.emailError' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" class="form-control">
        <label class="necessary">{{ 'Regform.phone' | translate}}</label>
        <input matInput formControlName="userPhoneNumber" type="tel" placeholder="{{ 'Regform.phone' | translate}}">
        <mat-error>
          {{ 'Regform.phoneError' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" class="form-control">
        <label class="necessary">Skype</label>
        <input matInput formControlName="userSkype" type="text" placeholder="Skype">
      </mat-form-field>

      <div class="form-control" style="margin-top: 30px">
        <label class="necessary">{{ 'Regform.englishlevel' | translate}}</label>
        <mat-radio-group
          aria-labelledby="radio-group-label"
          class="radio-group"
          formControlName="userEnglishLevel"
        >
          <mat-radio-button
            class="radio-button"
            color="primary"
            *ngFor="let level of getKeys(englishLevel)" [value]="level"
          >
            {{englishLevel[level]}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="standard" class="form-control">
        <label class="necessary">{{ 'Regform.country' | translate}}</label>
        <mat-select class="select-group" formControlName="userCountry">
          <mat-option *ngFor="let country of countries" [value]="country">
            {{country}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" class="form-control">
        <label class="necessary">{{ 'Regform.city' | translate}}</label>
        <mat-select class="select-group" formControlName="userCity">
          <mat-option *ngFor="let city of cities[form.get('userCountry')?.value]" [value]="city">
            {{city}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <form [formGroup]="formSelectorTime" class="form-control" style="margin-top: 30px">
        <label>{{ 'Regform.comforttime' | translate}}</label>
        <div class="selector-time">
          <mat-form-field appearance="fill" class="selector-time-item">
            <mat-label>{{ 'Regform.comforttimeFrom' | translate}}</mat-label>
            <mat-select formControlName="from">
              <mat-option
                *ngFor="let time of convenientTimeArray"
                [disabled]="time>formSelectorTime.controls['to'].value-1 && !!formSelectorTime.controls['to'].value"
                [value]="time"
              >
                {{time}}:00
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="selector-time-item">
            <mat-label>{{ 'Regform.comforttimeTo' | translate}}</mat-label>
            <mat-select formControlName="to">
              <mat-option
                *ngFor="let time of convenientTimeArray"
                [disabled]="time<formSelectorTime.controls['from'].value+1"
                [value]="time"
              >
                {{time}}:00
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>

      <mat-form-field appearance="standard" class="form-control">
        <label>{{ 'Regform.experience' | translate}}</label>
        <textarea matInput
          cdkTextareaAutosize
          formControlName="userExperience"
          placeholder="{{ 'Regform.experience' | translate}}"
          maxlength="1000"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="standard" class="form-control">
        <label>{{ 'Regform.education' | translate}}</label>
        <textarea matInput
          cdkTextareaAutosize
          formControlName="userExperience"
          placeholder="{{ 'Regform.education' | translate}}"
          maxlength="1000"
        ></textarea>
      </mat-form-field>

      <div class="form-control" style="margin-top: 25px">
        <label>{{ 'Regform.resume' | translate}}</label>
      </div>
      <div class="input-wrapper">
        <input id="select-file-button" type="file" placeholder="{{ 'Regform.choosefile' | translate}}">
        <label>{{ 'Regform.choosefile' | translate}}</label>
      </div>

      <mat-checkbox
        style="margin-top: 20px"
        formControlName="isConfirm"
        color="primary"
      >{{ 'Regform.agree' | translate}}</mat-checkbox>
      <button id="submit-button"
        mat-flat-button color="primary"
        (click)="submit()"
        [disabled]="!(form.valid && this.form.get('isConfirm')?.value)"
      >{{ 'Regform.submit' | translate}}</button>
    </form>
  </div>
  <ia-footer>
  </ia-footer>
</div>
