<div class="freeSlots">{{"timesetting.freeSlots" | translate}}</div>
<div class="container">
  <ia-slot *ngFor="let slot of Timeslots" [slot] ="slot"></ia-slot>
</div>
<hr>
<div class="addTime">
  <div class="addSlot">{{"timesetting.addSlot" | translate}}</div>
  <form class="create-form">
  <mat-form-field appearance="fill">
    <mat-label>{{"timesetting.chooseDate" | translate}}</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </form>
</div>
