.main {
  display: flex;
}
.containerName {
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
  width: 100%;
}
.addTime {
  form {
    display: flex;
    flex-wrap: wrap;
    mat-label {
      margin: 0 1rem;
      width: 95%;
    }
    mat-form-field {
      margin: 1rem;
    }
  }
  max-width: 85vw;
  margin: 2rem auto;
  border: 2px solid rgba(41, 168, 224, 0.8);
  border-radius: 0.5rem;
  padding: 1rem;
  button,
  mat-error {
    margin: 1rem auto;
    display: block;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 50vw;
  align-content: flex-start;
}
