::ng-deep.mat-calendar-body-cell-content {
  color: #000000;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.06);
}

::ng-deep.mat-calendar-body-disabled
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0);
}

.content {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  p.schedule {
    display: inline-block;
    margin: 0 auto 10px;
  }
  .mat-form-field-wrapper {
    display: flex;
    flex-direction: column;
    .mat-form-field {
      margin: 0 20px;
      width: 250px;
    }
  }
  .button-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}
