<div>
  <p>Schedule an interview</p>
  <div>
    <ng-container *ngIf="data.users.length === 0">
      <p *ngIf="data.role === 'ADMIN'">
        no admins
      </p>
      <p *ngIf="data.role === 'TECH_EXPERT'">
        no technical experts
      </p>
    </ng-container>
    <mat-form-field appearance="fill">
      <mat-label *ngIf="data.role === 'ADMIN'">
        Select admin
      </mat-label>
      <mat-label *ngIf="data.role === 'TECH_EXPERT'">
        Select technical expert
      </mat-label>
      <mat-select
        [disabled]="usersForSelect.length === 0"
        [(ngModel)]="selectedUser"
        (selectionChange)="filterUsers()"
      >
        <mat-option *ngFor="let user of usersForSelect" [value]="user">
          {{user.lastName + user.firstName[0] + '.'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Custom calendar color</mat-label>
      <input
        matInput
        [matDatepickerFilter]="dateFilter"
        [matDatepicker]="picker"
        [formControl]="datePicker"
        (dateInput)="filterUsers()"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker color="primary"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Time</mat-label>
      <mat-select
        [disabled]="!(selectedUser.userTimeSlots && datePicker.value)"
        (selectionChange)="onTimeSelect($event)"
      >
        <ng-container *ngFor="let timeSlot of selectedUser.userTimeSlots">
          <mat-option
            *ngIf="userHaveTimeSlot(datePicker.value, timeSlot)"
            [value]="timeSlot"
          >
            {{timeSlot.startDate | date: "HH:mm"}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-dialog-actions class="button-wrapper">
    <button
      mat-button
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
    <button
      mat-button
      [disabled]="!interview.id"
      [mat-dialog-close]="interview"
    >
      Appoint
    </button>
  </mat-dialog-actions>
</div>
