.wrapper {
  background-color: #f9f9f9;
  padding-bottom: 30px;
}
.container {
  padding: 50px 40px 20px;
  width: 100%;
  box-sizing: border-box;
  div {
    background-image: url("/assets/img/errorpage.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 500px;
  }
}
button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 7px 10px;
}
@media (max-width: 1030px) {
  .container {
    div {
    min-height: 300px;
    }
  }
}
@media (max-width: 780px) {
  .container {
    div {
    min-height: 220px;
    }
  }
}

@media (max-width: 520px) {
  .container {
    div {
    min-height: 150px;
    }
  }
  button {
    font-size: 12px;
  }
}
